<div class="modal-header">
	<h3 class="modal-title">Choose values </h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form" name="pollForm">
		<div class="form-group">
			<label for="pollName" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input name="pollName" ng-model="modal.pollName" ng-trim="false" class="form-control"
				placeholder="poll name" autofocus="false"
				type="text"
				required id="pollName"/>
			</div>
		</div>
		<div class="form-group">
			<label for="pollDescription" class="col-sm-2 control-label">Description</label>
			<div class="col-sm-10">
				<input name="pollDesc" ng-model="modal.pollDesc"
				ng-trim="false" class="form-control"
				placeholder="poll description" autofocus="false"
				type="textarea"
				required id="pollDescription">
			</div>
		</div>
		<div class="form-group">
			<label for="creatorName" class="col-sm-2 control-label">Your name</label>
			<div class="col-sm-10">
				<input name="creatorName" ng-model="modal.creatorName" ng-trim="false" class="form-control"
				placeholder="your name" autofocus="false"
				type="text"
				required id="creatorName"/>
			</div>
		</div>
		<div class="form-group">
			<label for="creatorMail" class="col-sm-2 control-label">Your email</label>
			<div class="col-sm-10">
				<input name="creatorMail" ng-model="modal.creatorMail" ng-trim="false" class="form-control"
				placeholder="your email" autofocus="false"
				type="text"
				required id="creatorMail"/>
			</div>
		</div>
		<div class="form-group">
			<label for="pollStartDate" class="col-sm-2 control-label">Start date</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" datepicker-popup="{{modal.format}}" ng-model="modal.startDate" is-open="modal.startOpened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="modal.dateOptions" date-disabled="modal.disabled(date, mode)" ng-required="true" close-text="Close" id="pollStartDate"/>
			</div>
			<div class="col-sm-1">
				<button type="submit" class="btn btn-default btn-block" ng-click="modal.open($event,'start',modal)"><i class="glyphicon glyphicon-calendar"></i></button>
			</div>
			<div class="col-sm-4">
				<timepicker ng-model="modal.startTime" show-meridian="true"></timepicker>
			</div>
		</div>
		<div class="form-group">
			<label for="pollEndDate" class="col-sm-2 control-label">End date</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" datepicker-popup="{{modal.format}}" ng-model="modal.endDate" is-open="modal.endOpened" min-date="modal.minDate" max-date="'2015-06-22'" datepicker-options="modal.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" id="pollEndDate"/>
			</div>
			<div class="col-sm-1">
				<button type="submit" class="btn btn-default btn-block" ng-click="modal.open($event,'end',modal)"><i class="glyphicon glyphicon-calendar"></i></button>
			</div>
			<div class="col-sm-4">
				<timepicker ng-model="modal.endTime" show-meridian="true"></timepicker>
			</div>
		</div>
		<div class="form-group">
			<label for="declEndDate" class="col-sm-2 control-label">Opened until</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" datepicker-popup="{{modal.format}}" ng-model="modal.declEndDate" is-open="modal.declEndOpened" min-date="modal.minDate" max-date="'2015-06-22'" datepicker-options="modal.dateOptions" date-disabled="modal.disabled(date, mode)" ng-required="true" close-text="Close" id="declEndDate"/>
			</div>
			<div class="col-sm-1">
				<button type="submit" class="btn btn-default btn-block" ng-click="modal.open($event,'decl',modal)"><i class="glyphicon glyphicon-calendar"></i></button>
			</div>
			<div class="col-sm-4">
				<timepicker ng-model="modal.declEndTime" show-meridian="true"></timepicker>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<button class="form-control btn btn-success" ng-click="modal.addNewGroup()">Add another group</button>
			</div>
			<div class="col-sm-4">
				<input class="form-control" minlength="3" maxlength="12" type="text" ng-model="modal.newGroup" name="" placeholder="Enter group name">
			</div>
			<div class="col-sm-2">
				<input class="form-control" type="number" ng-model="modal.groupCount" placeholder="number of members"/>
			</div>
		</div>
		<div class="form-group" data-ng-repeat="(group,n) in modal.groups">
			<div class="col-sm-offset-2 col-sm-3">
				<button class="form-control btn btn-info" value="{{group}}" ng-click="modal.deleteGroup(group)">{{group}}</button>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="modal.ok()">OK</button>
	<button class="btn btn-warning" ng-click="modal.cancel()">Cancel</button>
</div>