<div class="container pagination-centered">
	
	<div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span>Poll</span>
					<button  ng-click="edit()" ng-show="canEdit" type="button" class="btn btn-primary pull-right">
						<span class="glyphicon glyphicon-cog"></span>
					</button>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">Name : {{poll.name}}</li>
						<li class="list-group-item">Description : {{poll.description}}</li>
						<li class="list-group-item">Creator : {{poll.creator_mail}}</li>
					</ul>
				</div>
			</div>
		</div>

		<alert ng-show="pollUpdateSuccess" type="success" class="col-sm-offset-2">
			<span>{{messages.updateSuccess}}</span>
		</alert>
		<alert ng-show="pollUpdateError" type="danger" class="col-sm-offset-2">
			<span>{{messages.updateError}}</span>
		</alert>

		<div id="tl" style="height: 350px; border: 1px solid #aaa; margin-bottom: 15px"></div>
		<div id="container">
			<ul class="nav nav-pills pull-right">
				<li class="active" ng-click="newUserPoll()"><a>New</a></li>
				<li><a ng-click="saveUserPoll()">Save</a></li>
			</ul>
		</div>
	</div>

	<script src="http://api.simile-widgets.org/timeline/2.3.1/timeline-api.js?bundle=true" type="text/javascript"></script>
</div>