<div>
    <h3 class="text-muted">Register</h3>

    <form class="form-horizontal" role="form" name="registrationForm">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="username">Username</label>

            <div class="col-sm-4 controls">
                <input type='text' id='username' name='username' value='' class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="password">Password</label>

            <div class="col-sm-4 controls">
                <input type='password' name='password' id='password' class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="passwordconf">Confirm password</label>

            <div class="col-sm-4 controls">
                <input type='password' name='passwordconf' id='passwordconf' class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">Email</label>

            <div class="col-sm-4 controls">
                <input type='text' name='email' id='email' class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="col-sm-offset-2 btn btn-primary">Register</button>
            <button type="reset" class="btn">Cancel</button>
        </div>
    </form>
</div>