<div>

    <div ng-show="!thereIsAtLeastOneUserPoll">
        <h3>Oops, it seems you haven't created any poll yet.</br></br> <a href="/#/create">Start creating!</a></h3>
    </div>
    <table ng-show="thereIsAtLeastOneUserPoll" class="table table-striped table-condensed table-hover">
        <tr>
            <th>Name</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Description</th>
        </tr>

        <tr data-ng-repeat="poll in polls">
            <td><a ng-href="/#/poll/{{poll._id}}{{poll.creation_token}}">{{poll.name}}</a></td>
            <td>{{poll.start_time}}</td>
            <td>{{poll.end_time}}</td>
            <td>{{poll.description}}</td>
        </tr>
    </table>
</div>